#form * {
    margin: 0 0;
    padding: 0 0;
}

#form {
    margin: 5px 0;
}

input[type=text] {
    width: 80px;
    line-height: 18px;
    height: 18px;
}

#contentField {
    width: 250px;
}

#ipField {
    width: 150px;
}

.timeField {
    float: left;
    text-align: left;
    width: 10%;
}

.ipField {
    float: left;
    text-align: left;
    width: 7%;
}

.urlField {
    float: left;
    text-align: left;
    width: 83%;
}

